{% extends 'magasin/base.html' %} {% block content %}
<div class="col-md-12 text-center">
  <h2>Command...</h2>
</div>
<form method="POST" class="post-form">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="btn btn-default">Enregistrer</button>
</form>
<div class="container-fluid mt-3">
  <div class="row">
    <div id="{{ f.id }}" class="container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th>dateCde</th>
            <th>totalCde</th>
            <th>description</th>
            <th>calTot</th>
          </tr>
        </thead>
        <tbody>
          {% for f in commandes %}
          <tr>
            <td>{{ f.dateCde }}</td>
            <td>{{f.totalCde }}</td>
            <td>{{f.test}}</td>
            <td>{{f.calTot}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
